<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <%- include("common/nav.ejs"); %>
        <div class="content">
            Hello<br>
            Log in with Discord to prove you are a true lettuce fighter.<br>
            <button class="btn">Log in with Discord</button>
        </div>
        <%- include("common/footer.ejs"); %>
    </body>
</html>