<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <%- include("common/nav.ejs"); %>
        <div class="content text-center">
            <div class="card-center max-w-screen-md">

                <span class="font-bold align-top">Participant</span><br>
                <a href="/auth/login"><button class="btn">Log in</button></a>

                <hr class="my-2">

                <span class="font-bold align-top">Spectator</span><br>
                <a href="/game"><button class="btn">Spectate</button></a>

            </div>
        </div>
        <script>
            if (window.location.href.includes("loginFailure=true")) alert("Login failed. Are you really a participant?");
        </script>
        <%- include("common/footer.ejs"); %>
    </body>
</html>